.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
    align-items: center;
}

.rightbarAdContainer{
    margin-bottom: 20px;
}

.rightbarAd{
  width: 100%;
  border-radius: 10px;
}

.rightbarCommunities{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightBarTitle{
    color: white;
    margin-bottom: 15px;
}

.rightBarInfo{
    margin-bottom: 30px;
}

.rightBarInfoItem{
    margin-bottom: 10px;
    font-size: 12px;
}

.rightBarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: white;
}

.rightBarInfoValue{
    font-weight: 300;
    color: white;
}

.rightBarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightBarFollowing{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
}

.rightBarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightBarFollowingName{
    color: white;
}

.righbarFollowButton{
    background-color: black;
    color: #fff;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    

}

.righbarFollowButton:hover{
    background-color: #fff;
    color: black;
}