.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

